.thumbnail h2 {
	padding: 20px 15px;
	background-color: #535584;
	color: #fff;
	margin: 0;
}
.thumbnail h3 {
	color: #4e833c;
	font-size: 40px;
	padding: 25px 0;
	margin: 0 0 20px;
	border-bottom: 2px solid #dedede;
}
.thumbnail ul {
	height: 200px;
}
.thumbnail li {
	margin-bottom: 20px;
}