.thumbnail h2 {
	padding: 20px 15px;
	margin: 0;
	border-bottom: dashed 2px #dedede;
	border-top: dashed 2px #dedede;
}
.thumbnail h3 {
	color: #4e833c;
	font-size: 40px;
	padding: 25px 0;
	margin: 0 0 20px;
	background-color: #f4f4f4;
	border-bottom: 2px dashed #dedede;
}
.thumbnail {
	border: none;
}
.thumbnail ul {
	height: 200px;
}
.thumbnail li {
	margin-bottom: 20px;
}